:root[data-theme='dark'] {
  color-scheme: dark;

  --color-text: #f4f4f4;
  --color-muted: #c6c6c6;
  --color-disabled: #8d8d8d;
  --color-surface: #000;
  --color-surface-subtle: #262626;
  --color-hover: #393939;
  --color-border: #393939;
  --color-button: #f4f4f4;
  --color-on-button: #161616;
  --color-accent: #78a9ff;
  --color-link: #78a9ff;
  --color-danger: #ff8389;
  --color-success: #42be65;
  --shadow-popover: 0 2px 6px #00000066;
  --logo-filter: brightness(0) invert(1);
  --logo-light-display: none;
  --logo-dark-display: inline;
  --select-arrow-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23c6c6c6' d='M16 22L6 12l1.4-1.4l8.6 8.6l8.6-8.6L26 12z'/%3E%3C/svg%3E");
}
